version: "3.9"
services:
  backend:
    build: .
    container_name: mean-backend
    ports:
      - "3000:3000"
    env_file:
      - ./.env
    environment:
      - MONGO_URI=mongodb://mongo:27017
      - MONGO_DBNAME=AI_Buddy_Studio
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
